h1{
   font-family:'Segoe Script', cursive;
   color: #660042;
}
body{
   background-color: #ffd3e2;
}
a{
  color:#660042;
  text-decoration: none;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 a:hover{
    color: #d6a2b5;
}
a{
    color: rgb(125, 0, 69);
    text-decoration: none;
}
.eloahecarol{
     padding: 0px 50px;
}
h1{
   font-family:'Segoe Script', cursive;
    color: #660042;
}
body{
   background-color: #ffd3e2;
}
a{
  color: rgb(125, 0, 69);
  text-decoration: none;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carol{
    display: flex;
    justify-content:center ;
    align-items: center;
    align-content: center;
}
.carol img {
    border: 5px solid #d2608a ;
    width: 250px;
    height: 250px;
    margin: 50px 50px;
}
.caroleeu{
    padding: 0px 50px;
}
nav a:hover{
    color: #c97694;
}
h1{
   font-family:'Segoe Script', cursive;
    color: #660042;
}
body{
   background-color: #ffd3e2;
}
a{
  color: rgb(231, 89, 111);
  text-decoration: none;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 a:hover{
    color: #db9eb5;
}
.eueela{
     padding: 0px 50px;
}