h1{
   font-family:'Segoe Script', cursive;
    color: #660042;
    font-size: 50px;
}
body{
   background-color: #ffd3e2;
   height: 300vh;
}
a{
  color: rgb(231, 89, 111);
  text-decoration: none;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: rgb(125, 0, 69);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a:hover{
      color: #d6a2b5;
  }
.eloahecarol{
     padding: 0px 50px;
}
.rectangle{
    background-color:rgb(255, 151, 184);
    color: #333;
    user-select: none;
    padding: 7px;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 7px;
}
input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 400px;
    box-shadow:0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  
}
select{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 400px;
    box-shadow:0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  
}

label{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botao{
    max-width: 200px;
    box-shadow:0px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color:  rgb(255, 151, 184);
  overflow: hidden;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
 
}
.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #dc008f;
}
body{
  margin: 0;
}
/* Responsividade para telas menores */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  .menu li {
    float: none;
    text-align: center;
  }

  img {
    width: 90%;
    margin: 10px auto;
  }
  .menu ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    tr {
      flex-direction: column;
    }
}

@media print {
  body {
    background: white;
    color: black;
  }

  nav, button, .voltar-topo {
    display: none;
  }

  h1, h2 {
    color: black;
  }
}
