h1{
   font-family:'Segoe Script', cursive;
    color: #660042;
    font-size: 50px;
}
body{
   background-color: #ffd3e2;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.eueela{
     padding: 0px 50px;
}
td{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
tr:hover{
  background-color:  rgb(245, 168, 192);;
}
th{
  border-radius: 10px;
  padding: 10px;
}
table{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  border-radius: 25px;
  border: none;
}
a{
  color: rgb(125, 0, 69);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: #d6a2b5;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 151, 184);
  overflow: hidden;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
 
}
.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.menu li a:hover {
   background-color: #dc008f;

}
body{
  margin: 0;
}

/* Responsividade para telas menores */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  .menu li {
    float: none;
    text-align: center;
  }

  img {
    width: 90%;
    margin: 10px auto;
  }
  .menu ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    tr {
      flex-direction: column;
    }
}

@media print {
  body {
    background: white;
    color: black;
  }

  nav, button, .voltar-topo {
    display: none;
  }

  h1, h2 {
    color: black;
  }
}
